
.speech {
font-family: cursive;
font-size: medium;
color: black;
    }
.direction{
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  color: black;
  background-color:yellow;  

}
.hilda{
  
  font-family: sans-serif;
  font-size: small;
  color:green;
}
.solness{
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  color:red;
}
.direction:hover{

  background-color: blue;
  color: chartreuse;
}

table{

  border:seperate;
  width:100%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

table th{
  border-color:blueviolet;
  color:rgb(150, 60, 77);
  
  text-align: center;
  padding: 10px;
  border-radius: 10px;

}

table td{
  border: 1px solid crimson;
  color:rgb(150, 60, 77);
  
  text-align: center;
  padding: 10px;
  border-radius: 10px;

}

table tbody tr:nth-child(odd){
background-color: orchid  ;
}

  

  .hilda:hover{
border :solid 1.1px rgb(150, 60, 77);
text-shadow: 1.5px 1.5px 1.5px rgb(40,70,270);


  }

  .solness:hover{
    border :solid 1.1px rgb(150, 60, 77);
    text-shadow: 1.5px 1.5px 1.5px rgb(40,70,270);
 }
    
  
  
   
 