
.speech {
font-family: cursive;
font-size: medium;
color: black;
    }
.direction{
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  color: black;
  background-color:yellow;  

}
.hilda{
  
  font-family: sans-serif;
  font-size: small;
  color:green;
}
.solness{
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  color:red;
}
.direction:hover{

  background-color: blue;
  color: chartreuse;
}

.tabular,th,td{
  border: 1.5px solid;
  color: blue;
  text-align: center;
  padding: 0px;
  border-style: double;
  margin:0px;
  }

  .hilda:hover{
border :solid 1.1px rgb(150, 60, 77);
text-shadow: 1.5px 1.5px 1.5px rgb(40,70,270);


  }

  .solness:hover{
    border :solid 1.1px rgb(150, 60, 77);
    text-shadow: 1.5px 1.5px 1.5px rgb(40,70,270);
 }
    
  
  
   
 