
.speech {
font-family: cursive;
font-size: medium;
color: black;
    }

.name{
font-family:'Courier New', Courier, monospace;
font-size: medium;
color: black;

    }
.direction{
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  color: black;
  background-color:yellow;  

}
.hilda{
  
  font-family: sans-serif;
  font-size: small;
  color:green;
}
.solness{
  font-family: 'Times New Roman', Times, serif;
  font-size: small;
  color:red;
}
.direction:hover{

  background-color: blue;
  color: chartreuse;
}

table,th,td{
  border: 2px solid;
  color: orange;
  text-align: center;
  padding:0px;
  margin: 0px;

}
tr:nth-child(odd){
  background-color: rgb(48, 180, 278);
}
  

  .hilda:hover{
border :solid 1.1px rgb(150, 60, 77);
text-shadow: 1.5px 1.5px 1.5px rgb(40,70,270);


  }

  .solness:hover{
    border :solid 1.1px rgb(150, 60, 77);
    text-shadow: 1.5px 1.5px 1.5px rgb(40,70,270);
 }
    
 ul.navbar-horizontal{
  list-style-type: none;
  margin: 2px;
  padding: 1.5px;
}
ul.navbar-horizontal li{
  float: left;
  color: rgb(20, 10, 88);
  background-color: aquamarine;
}
ul.navbar-horizontal a{
  display: block;
  padding: 2.5px;
}
ul.navbar-horizontol a:hover{
  background-color: rgb(101, 37, 199);
  color: rgb(266, 221, 201)
} 
  
   
 